<div class="parallax-container">
    <div class="parallax"><img src="img/car.jpg" /></div>
</div>

<div class="section white">
    <div class="row container">

      <h2 class="header">Origin Hawaï !!</h2>
      <p class="grey-text text-darken-3 lighten-3">La plupart des experts et sources s'accordent à penser que le surf trouverait ses origines à Hawaï. Un surf similaire à celui pratiqué aujourd'hui est décrit par des sources européennes telles que le capitaine James Cook, il y a plus de deux siècles (1778 : découverte des îles Hawaï par James Cook).
</p>

    </div>
</div>

<div class="parallax-container">
    <div class="parallax"><img src="/img/vague.jpg" /></div>
</div>

<div class="section white">
    <div class="row container">

      <h2 class="header">Et toi, tu veux prendre la vague ?</h2>
      <p class="grey-text text-darken-3 lighten-3">La pratique du surf nécessite de bonnes conditions de vagues. Ces bonnes conditions de vagues ne peuvent être acquises que par de bonnes conditions de vent ou de houle, qui peuvent varier selon les spots. Il existe trois sortes majeures de vagues :</p>
      <ul>
        <li>les vagues creuses (plongeantes),</li>
        <li>les vagues molles ou peu puissantes (déferlantes),</li>
        <li>les vagues de petite houle (que l'on pourrait qualifier de flat).</li>
      </ul>
      <p>Les vagues molles sont les préférées des shortboarders mais aussi des utilisateurs de mini-malibu. Les vagues creuses sont les vagues les plus puissantes mais pas forcément les plus grandes. En effet, certaines vagues que l'on peut qualifier de creuses sont bien plus puissantes qu'une vague molle de la même taille.</p>
      

    </div>
</div>

<div class="parallax-container">
    <div class="parallax"><img src="img/palmier.jpg" /></div>
</div>

<script type="text/javascript">
$(document).ready(function(){
  $('.parallax').parallax();
});
</script>

